<div style="height: auto;">
    <div class="sidebar text-center">
      <div>
      <div class="center-a pt-5">
          <img src="../../../assets/fo3.jpg" class="img" style="width: 130px; height: 130px; border-radius: 50%;"/>
      </div>
      <button class="btn waves-effect btn-transparent col-8 mt-5" [routerLink]="['/auth/dashboard']">Dashboard</button>
      <!-- <hr class="text-white" />
      <button class="btn waves-effect btn-transparent col-8" [routerLink]="['/auth/edit']">Mi perfil</button> -->
      <hr class="text-white" />
      <button class="btn waves-effect btn-transparent col-8" (click)="logout()">Logout</button>
      </div>
    </div>
    <div class="dashboard p-4" style="background-image: url('../../../assets/banner-bg.png'); background-size: cover; background-repeat: no-repeat; height: auto;">
    <div style="width: 100%; height: 80px; background: #01baef;" class="center-a text-white">      
      <h2 style="margin: 0px;">Bienvenido al tablero de tareas</h2>
    </div>
    <div class="target pt-3 pb-5" style="height: auto;">

        <div class="col-12 text-end pe-5 pt-3">
            <button class="button2Hover" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                </svg>
                Agregar tarea
            </button>
        </div>
        <div class="center-list mt-5">
            <div cdkDropListGroup>
                <div class="example-container">
                    <div

                        class="example-list"
                        
                    >
                        <strong class="textTask">POR HACER</strong>
                        <div class="example-box" *ngFor="let item of tareas">
                            <div style="display: flex; align-items: center;">{{item.task_name}}</div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal2" (click)="info(item.description)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                                    </svg>
                                </button>
                                <button type="button" class="btn btn-tarea" (click)="onSubmit(item.task_name, item.description, item.id)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                    </svg>
                                </button>
                            </div>  
                            
                        </div>
                    
                  </div>
                </div>
                
                <div class="example-container">
                    <div
                        
                        
                        class="example-list"
                        
                    >
                        <strong class="textTask">TERMINADAS</strong>
                        <div class="example-box" *ngFor="let item3 of finalizadas">
                            <div style="display: flex; align-items: center;">{{item3.task_name}}</div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal2" (click)="info(item3.description)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                                    </svg>
                                </button>
                                <button type="button" class="btn btn-tarea" (click)="regresar(item3.task_name, item3.description, item3.id)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                  </div>
                </div>
            </div>
        </div>
        <div style="height: 41vh; color: white;">
            <p></p>
        </div>
        <!-- <a href="/auth/dashboard" style="position: absolute; top: 7%; left: 4%; color: white;">Regresar</a> -->
    </div>
    </div>    
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background: #01baef;">
          <h2 class="modal-title text-white" id="exampleModalLabel">Agregar una tarea</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="p-5">
                <form #frm="ngForm" (ngSubmit)="onAdd(frm)">
                  <div class="mb-3">
                    <label for="exampleInputNombre" class="form-label">Nombre de la tarea:</label>
                    <input name="task_name" type="text" class="form-control" id="exampleInputNombre" aria-describedby="task_name" ngModel required/>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputCorreo" class="form-label">Descripción:</label>
                    <input name="description" type="text" class="form-control" id="exampleInputCorreo" aria-labelledby="description" ngModel required />
                  </div>              
                  <button type="submit" class="btn btn-primary" ngModel required>Agregar</button>
                </form>
            </div>
        </div>
        <div class="modal-footer">          
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h2 class="modal-title text-white" id="exampleModalLabel">Descripción</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>{{description}}</p>
        </div>
        <div class="modal-footer">          
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>