<!-- <div class="c1 p-5 centrado-a bg-secondary">
    <div class="col-6 d-flex c1-2">
        <div class="col-6 img"></div>
        <div class="col-6 bg-dark content centrado-a">
            <div class="col-12">
                <div style="padding: 20px;">                    
                    <h2 class="text-white">Login</h2>
                    <input type="email" class="form-control mt-4" placeholder="Email">
                    <input type="password" class="form-control mt-4" placeholder="Password">
                    <button class="btn btn-primary col-12 mt-4" [routerLink]="['/landing']">Iniciar</button>
                </div>
            </div>
        </div>
    </div>
</div> -->

<section class="login">
    <div class="container">
        <div class="row g-0">
            <div class="col-lg-6">
                <img src="../../../assets/fo3.jpg" class="img-fluid" alt="image">
            </div>
            <div class="col-lg-5">
            <form>
            <h2>Login</h2>
            <div class="mb-3">
              <label for="email" class="form-label">Correo electronico</label>
              <input type="email" class="form-control" placeholder="">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" class="form-control" placeholder="">
            </div>
            <button type="submit" class="btn">Iniciar sesión</button>
        </form>
        </div>
    </div>
</div>
