.project {
    box-shadow: 5px 5px 20px lightgray; border-radius: 15px;
    height: auto;
    margin: 15px;
    background: white;
    border-radius: 15px;
    /* transition: left 3s; */
}

.project:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.02);
}

.title {
    width: 100%; 
    height: 40px; 
    background: #1f5a92;
    color: white;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    padding-left: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.button-project {
    width: 15%;
    border-radius: 15px;
    background-color: white;
    border: solid #012d54 3px;
    color: #012d54;
    transition: 0.5s all;
}

.button-project:hover {
    background-color: #012d54;
    border: solid #012d54 3px;
    color: white;
    /* background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%); */
    /* color: white;     */
    /* background: green; */
}

.img-carrousel {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 200px;
}

.target-2 {
    padding-bottom: 25px;
    width: 100%;
    background: #f0f1f5;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75) inset;
}

.dashboard-2 {
    /* height: auto; */
    /* padding: 15px; */
    /* width: 100%; */
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75) inset;
    width: 80%;
    /* Esto equilibria lo del aside */
    position: relative;
    top: 0;
    right: 0 !important;
    left: 20%;
}

.grid {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(0rem, 575px)); 
    width: 100%;
}