<div class="body">
    <section class="fixed-top navigation">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="index.html"><img src="../../../assets/images/logo.png" alt="logo"></a>
          <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ml-auto">
    
            </ul>
            <a href="/login" class="btn btn-primary ml-lg-3 primary-shadow mt-3" style="position: absolute; left: 90%;">Login</a>
          </div>
        </nav>
      </div>
    </section>
    
    <section class="hero-section hero" data-background="" style="background-image: url(../../../assets/images/hero-area/banner-bg.png);">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center zindex-1">
            <h1 class="mb-3">Take Control of your<br>
              Project and Team</h1>
            <p class="mb-4">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum<br>
              dolore eu fugiat nulla pariatur.</p>
            <a href="#" class="btn btn-secondary btn-lg">explore us</a>
            <img class="img-fluid img w-80 banner-image" src="../../../assets/images/hero-area/banner-img.png" alt="banner-img">
          </div>
        </div>
      </div>
      <div id="scene">
        <img class="img-fluid hero-bg-1 up-down-animation" src="../../../assets/images/background-shape/feature-bg-2.png" alt="">
        <img class="img-fluid hero-bg-2 left-right-animation" src="../../../assets/images/background-shape/seo-ball-1.png" alt="">
        <img class="img-fluid hero-bg-3 left-right-animation" src="../../../assets/images/background-shape/seo-half-cycle.png" alt="">
        <img class="img-fluid hero-bg-4 up-down-animation" src="../../../assets/images/background-shape/green-dot.png" alt="">
        <img class="img-fluid hero-bg-5 left-right-animation" src="../../../assets/images/background-shape/blue-half-cycle.png" alt="">
        <img class="img-fluid hero-bg-6 up-down-animation" src="../../../assets/images/background-shape/seo-ball-1.png" alt="">
        <img class="img-fluid hero-bg-7 left-right-animation" src="../../../assets/images/background-shape/yellow-triangle.png" alt="">
        <img class="img-fluid hero-bg-8 up-down-animation" src="../../../assets/images/background-shape/service-half-cycle.png" alt="">
        <img class="img-fluid hero-bg-9 up-down-animation" src="../../../assets/images/background-shape/team-bg-triangle.png" alt="">
      </div>
    </section>
    
    <section class="section feature mb-0" id="feature">
      <div class="container pe-80 ps-4">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-title">Awesome Features</h2>
            <p class="mb-100">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<br>Excepteur sint occaecat cupidatat non proident</p>
          </div>
          <div class="col-md-6 mb-80">
            <div class="d-flex feature-item">
              <div>
                <div class="ti-ruler-pencil feature-icon ms-5 me-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-window-stack" viewBox="0 0 16 16">
                        <path d="M4.5 6a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1ZM6 6a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Zm2-.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z"/>
                        <path d="M12 1a2 2 0 0 1 2 2 2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2 2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h10ZM2 12V5a2 2 0 0 1 2-2h9a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1Zm1-4v5a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V8H3Zm12-1V5a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v2h12Z"/>
                    </svg>
                </div>
              </div>
              <div class="me-3">
                <h4>Awesome Design</h4>
                <p>Consectetur adipiscing elit donec tempus
                  pellentesque dui.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-80">
            <div class="d-flex feature-item">
              <div>
                <div class="ti-layout-cta-left feature-icon me-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-back" viewBox="0 0 16 16">
                        <path d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2z"/>
                    </svg>
                </div>
              </div>
              <div class="me-3">
                <h4>Easy Customize</h4>
                <p>Consectetur adipiscing elit donec tempus
                  pellentesque dui.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-80">
            <div class="d-flex feature-item">
              <div>
                <div class="ti-split-v-alt feature-icon ms-5 me-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                    </svg>
                </div>
              </div>
              <div class="me-3">
                <h4>Bug free Code</h4>
                <p>Consectetur adipiscing elit donec tempus
                  pellentesque dui.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-80">
            <div class="d-flex feature-item">
              <div>
                <div class="ti-layers-alt feature-icon me-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-code-slash" viewBox="0 0 16 16">
                        <path d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z"/>
                    </svg>
                </div>
              </div>
              <div class="me-3">
                <h4>Organized Layouts</h4>
                <p>Consectetur adipiscing elit donec tempus
                  pellentesque dui.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <img class="feature-bg-1 up-down-animation" src="../../../assets/images/background-shape/feature-bg-1.png" alt="bg-shape">
      <img class="feature-bg-2 left-right-animation" src="../../../assets/images/background-shape/feature-bg-2.png" alt="bg-shape">
    </section>
    
    <section class="section-lg seo">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="seo-image">
              <img class="img-fluid" src="../../../assets/images/marketing/marketing.png" alt="form-img">
            </div>
          </div>
          <div class="col-md-5">
            <h2 class="section-title">A Complete Range Of SEO Marketing Services!</h2>
            <p>Far far away, behind the word mountains, far
              from the countries Vokalia and Consonantia.<br>
              There live the blind texts. Separated they
              live in Bookmarksgrove right at the coast of
              the Semantics, a large language ocean.
            </p>
          </div>
        </div>
      </div>
      <img class="img-fluid seo-bg" src="../../../assets/images/backgrounds/seo-bg.png" alt="seo-bg">
      <img class="seo-bg-shape-1 left-right-animation" src="../../../assets/images/background-shape/seo-ball-1.png" alt="bg-shape">
      <img class="seo-bg-shape-2 up-down-animation" src="../../../assets/images/background-shape/seo-half-cycle.png" alt="bg-shape">
      <img class="seo-bg-shape-3 left-right-animation" src="../../../assets/images/background-shape/seo-ball-2.png" alt="bg-shape">
    </section>
    
    <section class="section-lg service">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-md-5 order-2 order-md-1">
            <h2 class="section-title">Powerful Layout From Top To Bottom</h2>
            <p class="mb-4">Far far away, behind the word mountains,
              far from the countries Vokalia and Consonantia,
              there live the blind texts. Separated they
              live in Bookmarksgrove right at the coast of the
              Semantics, a large language ocean.</p>
            <ul class="pl-0 service-list">
              <li><i class="ti-layout-tab-window text-purple"></i>Responsive on any device</li>
              <li><i class="ti-layout-placeholder text-purple"></i>Very easy to customize</li>
              <li><i class="ti-support text-purple"></i>Effective support</li>
            </ul>
          </div>
          <div class="col-md-7 order-1 order-md-2">
            <img class="img-fluid layer-3" src="../../../assets/images/service/service.png" alt="service">
          </div>
        </div>
      </div>
      <img class="img-fluid service-bg" src="../../../assets/images/backgrounds/service-bg.png" alt="service-bg">
      <img class="service-bg-shape-1 up-down-animation" src="../../../assets/images/background-shape/service-half-cycle.png" alt="background-shape">
      <img class="service-bg-shape-2 left-right-animation" src="../../../assets/images/background-shape/feature-bg-2.png" alt="background-shape">
    </section>
    
    <section class="section-lg team" id="team">
      <div class="container-fluid">
              <div class="client-logo-slider align-self-center">
                  <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid" src="../../../assets/images/clients-logo/client-logo-1.png" alt="client-logo"></a>
                  <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid" src="../../../assets/images/clients-logo/client-logo-2.png" alt="client-logo"></a>
                  <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid" src="../../../assets/images/clients-logo/client-logo-3.png" alt="client-logo"></a>
                  <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid" src="../../../assets/images/clients-logo/client-logo-4.png" alt="client-logo"></a>
                  <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid" src="../../../assets/images/clients-logo/client-logo-5.png" alt="client-logo"></a>
                  <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid" src="../../../assets/images/clients-logo/client-logo-1.png" alt="client-logo"></a>
                  <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid" src="../../../assets/images/clients-logo/client-logo-2.png" alt="client-logo"></a>
                  <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid" src="../../../assets/images/clients-logo/client-logo-3.png" alt="client-logo"></a>
                  <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid" src="../../../assets/images/clients-logo/client-logo-4.png" alt="client-logo"></a>
                  <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid" src="../../../assets/images/clients-logo/client-logo-5.png" alt="client-logo"></a>
              </div>
      </div>
      <img src="../../../assets/images/backgrounds/team-bg.png" alt="team-bg" class="img-fluid team-bg">
      <img class="team-bg-shape-1 up-down-animation" src="../../../assets/images/background-shape/seo-ball-1.png" alt="background-shape">
      <img class="team-bg-shape-2 left-right-animation" src="../../../assets/images/background-shape/seo-ball-1.png" alt="background-shape">
      <img class="team-bg-shape-3 left-right-animation" src="../../../assets/images/background-shape/team-bg-triangle.png" alt="background-shape">
      <img class="team-bg-shape-4 up-down-animation img-fluid" src="../../../assets/images/background-shape/team-bg-dots.png" alt="background-shape">
    </section>
    
    <footer class="footer-section footer" style="background-image: url(../../../assets/images/backgrounds/footer-bg.png);">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 text-center text-lg-left mb-4 mb-lg-0">
            <a href="index.html">
              <img class="img-fluid" src="../../../assets/images/logo.png" alt="logo">
            </a>
          </div>
          <nav class="col-lg-8 align-self-center mb-5">
          </nav>
          <!-- <nav class="col-12">
            <ul class="list-inline text-lg-right text-center social-icon">
              <li class="list-inline-item">
                <a class="facebook" href="https://www.facebook.com/?lang=en"><i class="ti-facebook"></i></a>
              </li>
              <li class="list-inline-item">
                <a class="twitter" href="https://twitter.com/?lang=en"><i class="ti-twitter-alt"></i></a>
              </li>
              <li class="list-inline-item">
                <a class="pinterest" href="#"><i class="ti-pinterest"></i></a>
              </li>
              <li class="list-inline-item">
                <a class="black" href="#"><i class="ti-github"></i></a>
              </li>
            </ul>
          </nav> -->
        </div>
      </div>
    </footer>
    
    <!-- jQuery -->
    
    
</div>